@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #f9fafb;

  --card: #111827;
  --border: #1f2937;

  --primary: #3b82f6;
  --secondary: #9ca3af;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #111827 0%, #030712 60%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  position: relative;
}

::selection {
  background: #2563eb;
  color: white;
}

html {
  scroll-behavior: smooth;
}